<h1>Your Calendars</h1>
<% @calendars.each do |calendar| %>
  <h2><%= calendar.summary %></h2>
  <ul>
    <% calendar.events.each do |event| %>
      <li><%= event.summary %> - <%= event.start_time %></li>
    <% end %>
  </ul>
<% end %>
